<h1>{{category.name}}</h1>
{{#each post}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/post/{{slug}}"><button class="btn btn-success">read more</button></a>
        <hr>
        <small>data de criação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>nenhum post :(</h5>
{{/each}}